# API Configuration
VITE_API_BASE=https://visorestrategicobackend-gkejc4hthnace6b4.eastus2-01.azurewebsites.net/api/powerbi
VITE_API_KEY=pow3rb1_visor_3str4t3g1co_2025
VITE_SOCKET_URL=wss://socket.ejemplo.com

# App Configuration
VITE_APP_TITLE=Panel de Alertas de Proyectos
VITE_APP_VERSION=1.0.0
VITE_APP_ENVIRONMENT=development
